<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieFlicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACA0E5B11C56F20C0091D48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA0E5C51C56F20C0091D48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA0E5D01C56F20C0091D48C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
